.cita:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cita {
    padding: 2rem;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
    margin-bottom: 20px;
}

div {
    display: block;
}

.cita p {
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.cita p span {
    font-weight: normal;
}